# Ignore all cache dirs
.vscode
__pycache__

# Ignore log files
MinimalistCamView/Logs
*.log

# Ignore MCV config folder
**/config

# Ignore editable packages
*.egg-info

# Ignore recorded files
MinimalistCamView/Recordings
*.avi